@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
body{
    background-color: black;
}
#box{
    position: absolute;
    transform: translate(-50%, -10%);
    top: 20%;
    left: 50%;
    width:80%;
}
#form{
    text-align: center;
    margin: 2rem 0;
}
li{
    color:#fff;
}
#text-title{
    color:#fff;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    margin: .75rem 0;
    font-size: 3rem;
}
#keyword{
    width: 350px;
    height: 30px;
    text-align:center;
}
button{
    height: 35px;
    width:80px;
}
#innerbox{
    position: absolute;
    width: 100%;
}
#address-list{
    position: relative;
    float: left;
}
#map
{
    width:40%;
    height: 350px;
    position: relative;
    float: right;
}